.dark {  
background: #39363E 0% 0% no-repeat padding-box!important;
opacity: 1;
}

.menuDraw {
width: 216px !important;
font-size: 12px !important;
}

.menu-item{
text-align: -webkit-left;
margin: 15px 0 -10px 0 !important;
font-size: 12px !important;
padding: 0 0 0 50px !important;
min-height: 30px !important;
}

.bg-content {
background: #26242A !important;
}

//page buttons
.title {
text-align: left !important;
font: normal normal 300 31px/42px Open Sans !important;
letter-spacing: 0px !important;
color: #FFFFFF !important;
opacity: 1 !important;
}

.sub-title {
font-size: 12px;
color: #AEA9B8 !important;
}

.v-application .title {
font-size: 31px !important;
}

//gride
.main-guide {
text-align: left;
font-size: 12px !important;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}

.col-button {
text-align: center !important;
}


.col {
padding: 2px 0;
}

.col-2{
align-self: center;
padding: 8px 0;
}

.banner-small {
padding-top: 0px !important
}
